
.icon-cancel-1:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-record:before { content: '\e801'; } /* '' */
.icon-asl:before { content: '\e802'; } /* '' */
.icon-facebook-rect:before { content: '\e803'; } /* '' */
.icon-twitter-bird:before { content: '\e804'; } /* '' */